<div class="drawingInterface">
	<div class="expander"></div>
	<div class="colorPicker">
		
<!-- 		<div data-id="#ffffff" class="color"></div>
		<div data-id="#000000" class="color"></div>

		<div data-id="#ff0000" class="color"></div>
		<div data-id="#ff4444" class="color"></div>
		<div data-id="#ff8888" class="color"></div>
		<div data-id="#ffeeee" class="color"></div>

		<div data-id="#ffff00" class="color"></div>
		<div data-id="#ffff44" class="color"></div>
		<div data-id="#ffff88" class="color"></div>
		<div data-id="#ffffee" class="color"></div>

		<div data-id="#00ff00" class="color"></div>
		<div data-id="#44ff44" class="color"></div>
		<div data-id="#88ff88" class="color"></div>
		<div data-id="#eeffee" class="color"></div>

		<div data-id="#0044ff" class="color"></div>
		<div data-id="#4488ff" class="color"></div>
		<div data-id="#88eeff" class="color"></div>
		<div data-id="#eeffff" class="color"></div>

		<div data-id="#0000ff" class="color"></div>
		<div data-id="#4444ff" class="color"></div>
		<div data-id="#8888ff" class="color"></div>
		<div data-id="#eeeeff" class="color"></div> -->

	</div>
</div>
<div class="controls">
	<button id="removeImg">remove image</button>
</div>
<svg id="pt-canvas"></svg>
