// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	box-sizing: border-box;
	margin:0;
}

.rmScroll{
	overflow:hidden;
}
nav{
	ul{
		margin:0;
	}
}
// .primary-nav{
// 	// position:fixed;
// 	// top:0px;
// 	// z-index:100;
// }
.wrapper{
	position:relative;
	background-size:cover;
}
.drawingInterface{
	position:fixed;
	&.appendTop{
		top:0px;
	}
}
.expander{
	width:50px;
	height:50px;
	background: rgba(0,25,125,0.9);
	&:hover{
		transition: all .4s;
		background: rgba(255,29,0,0.8)!important;
		cursor:pointer;
	}
	&.active{
		transition: all .4s;
		width:200px;
	}
}
.colorPicker{
	position:fixed;
	overflow-y: scroll;
	// height:400px;
	left:0px;
	// background: #ae0;
	max-height:100vh;

	.color{
		width:10px;
		height:40px;
	}
	&.expanded .color{
		transition: width .2s, height .2s, border .4s;
		width:200px;
		&:hover{
			transition: width .2s, height .2s;
			// width:250px;
			height:60px;
			border-right: 50px solid rgba(0,0,0,0.8);
		}
		&.selected{
			transition: all .4s;
			height:80px;
			border-right: 50px solid rgba(0,0,0,0.8);
			border-top: 2px solid #2c2c2c;
			border-bottom:2px solid #2c2c2c;
		}

	}
}
.controls{
	position: fixed;
	right:10px;
}
#beginning{
	fill: rgba(255,255,255,0.9) !important;
	stroke: #ffeeee;
	z-index:10000;
	&:hover{
		stroke: #ff2222;
	}
}
.guide{
	// fill: rgba(255,40,40,.2);
	stroke: black;
	stroke-opacity: .4;
	stroke-width: 4px;
	transition: stroke-width .4s;
	&:hover{
		stroke: #ffeeee;
		stroke-opacity:.8;
		stroke-width:20px;
		transition: stroke-width .4s;
	}
}