// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	box-sizing: border-box;
	margin:0;
}
.shard{
	&.selected{
		stroke: #ff2222 !important;
		stroke-opacity: .8 !important;
		stroke-width: 2px !important;
	}
}
.rmScroll{
	overflow:hidden;
}
nav{
	ul{
		margin:0;
	}
}
.formWrapper{
	position: absolute;
	display:block;
	background: rgba(22,22,22,.8);
	top:0;
	left:0;
	bottom:0;
	right:0;
	.form{
		position:relative;
		text-align:center;
		display:block;
		margin:25px auto;
		vertical-align:middle;
		max-width: 500px;
		background: white;
		input{
			display:block;
			margin-top: 25px;
		}
	}
}
// .primary-nav{
// 	// position:fixed;
// 	// top:0px;
// 	// z-index:100;
// }
.wrapper{
	position:relative;
	background-size:cover;
}
.drawingInterface{
	position:fixed;
	width:10px;
	transition: width .2s, height .2s, border .4s;
	&.appendTop{
		top:0px;
	}
	&.expanded{
		width:400px;
		transition: width .2s, height .2s, border .4s;
	}
}

.colorPicker{
	// position:fixed;
	overflow-y: scroll;
	// height:400px;
	left:0px;
	width:100%;
	// background: #ae0;
	max-height:100vh;

}

.color{
	width:100%;
	height:40px;
	&:hover{
		transition: width .2s, height .2s;
		// width:250px;
		height:60px;
		border-right: 50px solid rgba(0,0,0,0.8);
	}
	&.selected{
		transition: all .4s;
		height:80px;
		border-right: 50px solid rgba(0,0,0,0.8);
		border-top: 2px solid #2c2c2c;
		border-bottom:2px solid #2c2c2c;
	}
}
#currentColor{
	@extend .color;
	height:200px !important;
	background: rgba(0,25,125,0.9);
	&:hover{
		// height:200px;
		border:none;
	}
	&.selected{
		border:0px !important;
	}
}

.controls{
	position: fixed;
	right:10px;
}
#beginning{
	fill: rgba(255,255,255,0.9) !important;
	stroke: #ffeeee;
	z-index:10000;
	&:hover{
		stroke: #ff2222;
	}
}
.guide{
	// fill: rgba(255,40,40,.2);
	stroke: black;
	stroke-opacity: .4;
	stroke-width: 4px;
	transition: stroke-width .4s;
	&:hover{
		stroke: #ffeeee;
		stroke-opacity:.8;
		stroke-width:20px;
		transition: stroke-width .4s;
	}
}

.tool{
	text-align:center;
	padding-top:25px;
	display:block;
	cursor: pointer;
	background: black;
	color: white;
	width: 100px;
	height: 100px;
	margin-top:15px;
	transition: background .4s;
	&:hover{
		background: white;
		color: black;

	}
	&.selected{
		background: #ffaaaa;
		color: black;
		transition: background .4s;
	}
}