<!DOCTYPE html>
<html>
<head>
  <title>ProtoTypr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="primary-nav">
	<ul>
		<li>Sign Up</li>
		<li>Sign In</li>
	</ul>
</nav>
<div class="wrapper">
	<%= yield %>
</div>
</body>
</html>
